.nav-widget-form .search-form {
    position: relative;
    margin: 0 auto;
    border-radius: 0;
    border: none;
    width: 250px;
    border-radius: 15px;
}

.nav_main{
    background-color: rgb(10,24,49);
    /* position: fixed; */
}
.asa{
    text-decoration: none !important;
}
.header_logo{
    width: 50% !important;
}

.nav-widget-form .search-form .form-control {
    background-color: #14233d;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    margin: 0;
    border: none;
    padding: 0 15px;
    color: var(--whiteColor);
}

.form-control {
    display: block;
    width: 100%;
    font-weight: 400;
    background-clip: padding-box;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

[type=search] {
    outline-offset: -2px;
}

.nav-widget-form .search-form button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    color: var(--whiteColor);
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding: 0 15px;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    border-radius: 0 5px 5px 0;
}

[type=submit], button {
    color: white !important;
}

[type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.pink:hover{
    background-color: #f14d5d !important;
}

.creat_btn{
    font-size: 15px;
    color: white !important;
    padding: 4px 9px 4px;
    background-color: #14233d;
    border-radius: 15px;
    border: none;
}

.creat_btn:hover{
    font-size: 15px;
    color: white !important;
    padding: 4px 9px 4px;
    background-color: #14233d;
    border-radius: 15px;
    border: none;
}

.connect_btn{
    font-size: 15px;
    color: white !important;
    padding: 4px 9px 4px;
    background-color: #f14d5d;
    border: none;
    border-radius: 15px;
}

.connect_btn:hover{
    font-size: 15px;
    color: white !important;
    padding: 4px 9px 4px;
    background-color: #f14d5d;
    border: none;
    border-radius: 15px;
}

.nev{
    margin: 0px 16px !important;
    text-decoration: none !important;
}

@media screen and (max-width:800px) {
    
    .creat_btn{
        margin-bottom: 20px !important;
    }
}


.Avtar_Header{
    background-color: transparent !important;
    border: none !important;
    display: flex !important;
    align-items: center;
}
.Avtar_Header i{
    color: #f14d5d;
}
.others-options .navbar-nav .nav-item .dropdown-menu {
    -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: var(--whiteColor);
    border: none;
    border-top: 2px solid var(--pinkColor);
    position: absolute;
    visibility: hidden;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    border-radius: 5px;
    display: block;
    width: 207px !important;
    z-index: 99;
    opacity: 0;
    top: 80px;
    left: -120px !important;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    padding: 2px 5px 0;
}
.optional-item-list{
    display: flex;
    align-items: center;
}

.others-options .optional-item-list .dropdown-menu li a {
    font-size: 15px;
    color: var(--whiteColor);
    position: relative;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    padding: 12px 20px 10px;
    background-color: #fff;
    border-radius: 15px;
}
.dropdown-menu li a:hover{
background-color: #fff !important;
}
.Link_style{
    text-decoration: none !important;
}

@media screen and (max-width:769px) {
    .nav_large{
        display: none !important;
    }
}

@media (min-width:770px) and (max-width:5000px) {

    .nav_small{
        display: none !important;
    } 
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .55);
    border-color: rgba(255, 255, 255, .1);
    background-color: red !important;
    color: rgb(219, 27, 27);
}

.others-options{
    display: flex !important;
}

.mobile-responsive-nav{
    /* background-color: #14233d; */
}

@media only screen and (max-width: 767px){
.navbar-area .navbar .navbar-nav {
    height: auto !important;
    overflow-y: scroll;
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    top: 10px;
    right: 0;
    margin: 0 auto;
    z-index: 999;
}
}

@media only screen and (max-width: 991px){
.mobile-nav {
    display: none !important;
}
.mobile-responsive-nav .others-options {
    display: block !important;
}
.others-options{
    display: flex !important;
    flex-direction: column !important;
}
.log_navbar{
    width: 13rem;
}
}



@media only screen and (max-width: 767px){
.navbar-area .navbar .navbar-nav .nav-item a {
    padding-left: 30px;
    color: #f14d5d !important;
}

}
@media only screen and (min-width: 992px) and (max-width: 1199px){
.mobile-nav {
    top: 28px;
    right: 55px;
    display: none !important;
}
}

@media only screen and (max-width: 991px){
.navbar-area {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
}

.WalletConnect1{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.WalletConnect{
    display: flex;
    justify-content: start;
    align-items: center;

    margin-left: -3rem;
}
.WalletConnect h5{
    margin-left: 1rem;
}
.card{
    /* box-shadow: 1px 1px 1px 3px #e5e5e5; */
    border: 1px solid rgb(229, 232, 235);
    background-color: rgb(255, 255, 255);
    margin-bottom: 72px;
    margin-top: 24px;
}
.ilahZE {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(229, 232, 235);
    border-radius: 10px;
    margin: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
    padding-left: 0px;
    list-style-type: none;
}
.ilahZE li {
    border-bottom: 1px solid rgb(229, 232, 235);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    list-style-type: none;
    width: 100%;
       
}
.ilahZE > :first-child > a:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ilahZE .sc-a8df1259-0 {
    border: none;
    overflow: hidden;
}
.Text_section{
    color: rgb(53, 56, 64);

}
.egqDTp {
    width: 100%;
    font-weight: 600;
    border: 1px solid rgb(229, 232, 235);
    color: rgb(53, 56, 64);
    text-align: left;
    text-decoration: none;
    display: flex;
    padding: 16px;
}
/* 
.fcwFWy {
    align-self: center;
    order: 2;
    margin-right: 16px;
    flex-shrink: 0;
}
.eEreIg {
    overflow: hidden;
}
.cmjqwQ {
    -webkit-box-align: center;
    align-items: center;
}
.fYgjHJ {
    -webkit-box-pack: center;
    justify-content: center;
}
.kKyBpy {
    flex-direction: column;
    display: flex;
    width: 24px;
    height: 24px;


}

.kqDcHr {
    height: 24px;
    width: 24px;
} */
.dNyhhk {
    align-self: stretch;
    flex: 1 1 auto;
    flex-flow: column;
    -webkit-box-pack: center;
    justify-content: center;
    order: 3;
    overflow: hidden;
    font-size: 16px;
    align-items: flex-start;
}
.bSNQjW {
    align-self: stretch;
    flex: 0 0 auto;
    flex-flow: column;
    order: 4;
    text-align: right;
}
.cLGxCH {
    max-width: 40%;
    overflow: hidden;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.fQDfDu {
    font-weight: 400;
    font-size: 14px;
    color: rgb(112, 122, 131);
}
.brdhhA {
    line-height: 24px;
}
.hunypc {
    background-color: rgb(32, 129, 226);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 4px 8px;
}

.ilahZE li{

}


.ilahZE li {
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
	/* margin: 40px 15px; */
	/* padding: 20px 0; */
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	cursor: pointer;
}

.ilahZE li::after {
	content: "";
	border-radius: 5px;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 95%;
    margin-left:0.5rem;
	height: 100%;
	box-shadow:  0 15px 20px rgba(0, 0, 0, 0.1);
	opacity: 0;
	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);;
}
.connect_Dropdon{
	box-shadow:  25px 15px 15px 25px rgba(0, 0, 0, 0.1);

}
.ilahZE li:hover {
 -webkit-transform: scale(1.05, 1.05);
	 transform: scale(1.05, 1.05);
}

.ilahZE li:hover::after {
	opacity: 1;
}

:where(.css-dev-only-do-not-override-1s3dcof).ant-drawer-right>.ant-drawer-content-wrapper {
    top: 100px !important;
    right: 0;
    bottom: 0;
    box-shadow: -6px 0 16px 0 rgb(0 0 0 / 8%), -3px 0 6px -4px rgb(0 0 0 / 12%), -9px 0 28px 8px rgb(0 0 0 / 5%);
}
.jSPhMX {
    display: flex;
}
.bMZyxz1 {
    width: 24px;
    height: 24px;
}
.bBUaNU1 {
    padding: 16px;
}
.egqDTp{
    display: flex;
    align-items: center;
}
.hCOPIW {
    text-rendering: optimizelegibility;
    color: rgb(52, 199, 123);
    font-feature-settings: "liga" !important;
    font-size: 18px !important;
}
.navbar-area.is-sticky, .navbar-area.is-sticky .desktop-nav-one {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10 !important;
    position: fixed;
    animation: fadeInDown .5s ease-in-out 0s 1 normal none running;
}


.desktop-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
    top: 100%;
    opacity: 1;
    margin-top: 0;
    visibility: visible;
    transform: scaleY(1);
    margin-left: -3rem !important;
}

.navbar-brand{
    width: 15rem;
}